<section id="content"><!-- #content -->
	<article>
		<p>Problem Statement : Have Rails Appliction with HTML layout & List all the form helpers.</p>
		<h2>Form Helpers</h2>
		<p>Rails provides a series of helpers for generating form elements such as checkboxes, text fields, and radio buttons.<br> These basic helpers, with names ending in _tag (such as text_field_tag and check_box_tag), generate just a single input element.</p> <p>The first parameter to these is always the name of the input. When the form is submitted, the name will be passed along with the form data, and will make its way to the params in the controller with the value entered by the user for that field.</p>
		<p>Some of the form helpers are:</p>
	
		<p>check_box_tag</p>
		<p>label_tag</p>
		<p>radio_button_tag</p>
		<p>text_area_tag</p>
		<p>password_field_tag</p>
		<p>hidden_field_tag</p>
		<p>search_field</p>
		<p>telephone_field</p>
		<p>date_field</p>
		<p>datetime_local_field</p>
		<p>month_field</p>
		<p>week_field</p>
		<p>url_field</p>
		<p>email_field</p>
		<p>color_field</p>
		<p>time_field</p>
		<p>number_field</p>
		<p>range_field</p>
	</article>							
</section><!-- end of #content -->